{% extends 'base.html.twig' %}

{% block title %}C.G | Compare {% endblock %}

{% block body %}

{# Inclusion de la template qui se affiche sur la page #}
{% include "page_head/page_head.html.twig" with {'page_name': 'Compare'} %}

<!-- START SECTION SHOP -->
<div class="section">
	<div class="container">
        <div class="row">
            <div class="col-md-12">
            	<div class="compare_box">
                    <div class="table-responsive">
                        <table class="table table-bordered text-center compare_table">
                            <tbody>
                                <tr class="pr_image">
                                </tr>
                                <tr class="pr_title">
                                </tr>
                                <tr class="pr_price">
                                </tr>
                                <tr class="pr_rating">
                                </tr>
                                <tr class="pr_add_to_cart">
                                </tr>
                                {# <tr class="description">
                                    <td class="row_title">Description</td>
                                    <td class="row_text"><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and </p></td>
                                    <td class="row_text"><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and </p></td>
                                    <td class="row_text"><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and </p></td>
                                </tr>
                                <tr class="pr_color">
                                    <td class="row_title">Color</td>
                                    <td class="row_color">
                                        <div class="product_color_switch">
                                            <span data-color="#87554B"></span>
                                            <span data-color="#333333"></span>
                                            <span data-color="#DA323F"></span>
                                        </div>
                                    </td>
                                    <td class="row_color"></td>
                                    <td class="row_color">
                                        <div class="product_color_switch">
                                            <span data-color="#333333"></span>
                                            <span data-color="#7C502F"></span>
                                            <span data-color="#2F366C"></span>
                                            <span data-color="#874A3D"></span>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="pr_size">
                                    <td class="row_title">Sizes Available</td>
                                    <td class="row_size"><span>S, M, L, XL</span></td>
                                    <td class="row_size"><span>S, M, L, XL</span></td>
                                    <td class="row_size"><span>S, M, L, XL</span></td>
                                </tr>
                                <tr class="pr_stock">
                                    <td class="row_title">Item Availability</td>
                                    <td class="row_stock"><span class="in-stock">In Stock</span></td>
                                    <td class="row_stock"><span class="out-stock">Out Of Stock</span></td>
                                    <td class="row_stock"><span class="in-stock">In Stock</span></td>
                                </tr>
                                <tr class="pr_weight">
                                    <td class="row_title">Weight</td>
                                    <td class="row_weight"></td>
                                    <td class="row_weight"></td>
                                    <td class="row_weight"></td>
                                </tr>
                                <tr class="pr_dimensions">
                                    <td class="row_title">Dimensions</td>
                                    <td class="row_dimensions">N/A</td>
                                    <td class="row_dimensions">N/A</td>
                                    <td class="row_dimensions">N/A</td>
                                </tr> #}
                                <tr class="pr_remove">
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END SECTION SHOP -->
{% endblock %}
