
###> symfony/framework-bundle ###
.env
.env.local
.env.local.php
.env.*.local
.env*
.vscode/
database_uml

# Fichiers personnels
database_ulm.txt
Note Memoire.txt
test_mail.php
routes.txt



/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###
.env.docker
.env.docker
ecommerce-cg.sql
ecommerce-cg.sql
